.red-icon {
    color: red !important; /* Use !important to override any other styles */
}

.yellow-icon {
    color: yellow !important;
}

.green-icon {
    color: green !important;
}

.orange-icon {
    color: orange !important;
}

.blue-icon {
    color: darkcyan !important;
}

#pdf-canvas {
    border: 1px solid #ccc;
    cursor: crosshair;
}

.ellipsis .x-progress-text {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: inline-block; /* Ensure it stays inline */
    width: calc(100% - 10px); /* Allow space for padding */
    text-align: center; /* Center-align the text */
    line-height: 20px; /* Adjust line height for vertical centering */
}

.snap-zone {
    border: 2px dashed gray;
    background-color: rgba(0, 0, 0, 0); /* Initially invisible */
}

.snap-zone.invisible {
    visibility: hidden;
}

.highlight-region {
    background-color: #cad6e9; /* Highlighted blue */
    border: 1px dotted darkgray;
    visibility: visible;
}

.edge-highlight {
    background-color: rgba(255, 0, 0, 0.2); /* Light red for edge proximity */
    border: 2px solid red;
}

.grayed-out {
    opacity: 0.5;
    /*pointer-events: none; !* Prevent interaction with grayed-out panels *!*/
}

.active-panel {
    opacity: 1;
    z-index: 9999; /* Ensure active panel is on top */
}

/* Hide scrollbar for the openedPanels container */
#openedPanels #openedPanels-innerCt {
    overflow-x: auto;
}

#openedPanels #openedPanels-innerCt::-webkit-scrollbar {
    height: 6px; /* Reduce scrollbar height */
}

#openedPanels #openedPanels-innerCt::-webkit-scrollbar-thumb {
    background-color: #b0b0b0; /* Customize the scrollbar color */
    border-radius: 3px; /* Rounded corners for the scrollbar */
}

#openedPanels #openedPanels-innerCt::-webkit-scrollbar-thumb:hover {
    background-color: #888; /* Darker color on hover */
}

.drag-drop-zone {
    border: 2px dashed #ccc;
    text-align: center;
    color: #555;
    padding: 20px;
}

.drag-over {
    border-color: #0a74da;
    background: #f0f8ff;
}

.drop-zone-text {
    font-size: 16px;
    font-weight: bold;
}

