.red-icon {
    color: red !important; /* Use !important to override any other styles */
}

.yellow-icon {
    color: yellow !important;
}

.green-icon {
    color: green !important;
}

.orange-icon {
    color: orange !important;
}

.blue-icon {
    color: darkcyan !important;
}

#pdf-canvas {
    border: 1px solid #ccc;
    cursor: crosshair;
}

.ellipsis .x-progress-text {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: inline-block; /* Ensure it stays inline */
    width: calc(100% - 10px); /* Allow space for padding */
    text-align: center; /* Center-align the text */
    line-height: 20px; /* Adjust line height for vertical centering */
}